{% extends "base.html" %}

{% block content %}
<header class="masthead text-center">


{% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">You must signup first!</a>

{% else %}
<a href="{% url 'event-create' %}" class="btn btn-outline-warning btn-block" role="button" aria-pressed="true">Add an Event</a>
<div class="masthead-content">
<div class="container">
<h1 class="masthead-small mb-0 text-white">My Dashboard</h1>

</div>
</div>
{% for event in events %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{event.location}}</h6>
    <p class="card-text">{{event.datetime}}</p>
   <a href="{% url 'event-detail' event.id %}" class="card-link">Details</a>
  </div>
</div>
{% endfor %}

{% endif %}





{% endblock content %}
