{% extends "base.html" %}

{% block content %}
<header class="masthead text-center">
<br>
<br>
<br>


{% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">You must signup first!</a>

{% else %}
{% for event in events %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1>hi</h1>
    <h5 class="card-title">{{event.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{event.location}}</h6>
    <p class="card-text">{{event.datetime}}</p>
   <a href="eventdetail" class="card-link">Details</a>
  </div>
</div>
{% endfor %}

{% endif %}






{% endblock content %}
