{% extends "base.html" %}

{% block content %}




{% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-primary btn-xl rounded-pill mt-5">You must signup first!</a>

{% else %}
<header class="masthead text-center">
  <div class="masthead-content">
    <div class="container">
<h1 class="masthead-heading mb-0 text-white">Our Events!</h1>
<br>
<br>
<br>

{% for event in events %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{event.location}}</h6>
    <p class="card-text">{{event.datetime}}</p>
   <a href="eventdetail" class="card-link">Details</a>
  </div>
</div>
</div>
</div>
</header>
{% endfor %}

{% endif %}






{% endblock content %}
